<div class="d-flex flex-column flex-shrink-0 p-3 text-white disable-hover" id="sidebar">
    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
        <span class="fs-4 title-text">Studymate</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a href="/" class="nav-link text-white">
                <img src="/icons/user.png" alt="User Icon" class="icon">
                <span class="nav-text">User</span>
            </a>
        </li>
        <li>
            <a href="/notes" class="nav-link text-white">
                <img src="/icons/notes.png" alt="Notes Icon" class="icon">
                <span class="nav-text">Notes</span>
            </a>
        </li>
        <li>
            <a href="/calendar" class="nav-link text-white">
                <img src="/icons/calendar.png" alt="Calendar Icon" class="icon">
                <span class="nav-text">Calendar</span>
            </a>
        </li>
    </ul>
</div>

<style>
    #sidebar {
        width: 85px;
        height: 100vh;
        background: linear-gradient(to bottom, #a352aa, #8a00ff);
        transition: width 0.3s;
        z-index: 1000; 
    }
    #sidebar:hover {
        width: 170px;
    }
    .title-text {
        opacity: 0;
        transition: opacity 0.3s;
    }
    #sidebar:hover .title-text {
        display: inline;
        opacity: 1;
    }
    .nav-link {
        white-space: nowrap;
    }
    .nav-text {
        display: inline;
        opacity: 0;
        transition: opacity 0.3s;
    }
    #sidebar:hover .nav-text {
        display: inline;
        opacity: 1;
    }
    .icon {
        margin-right: 5px;
        width: 24px;
        height: 24px;
    }
    .disable-hover {
            pointer-events: none;
        }
</style>
<script>
    // Remove the disable-hover class after 1 seconds
    window.addEventListener('load', () => {
        setTimeout(() => {
            document.getElementById('sidebar').classList.remove('disable-hover');
        }, 1000);
    });
</script>
