<div class="d-flex flex-column flex-shrink-0 p-3 text-white" id="sidebar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="/icons/testIcon.png" alt="Home Icon" class="title-icon">
        <span class="fs-4 title-text">Studymate</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link text-white">
                <img src="/icons/testIcon.png" alt="Home Icon" class="icon">
                <span class="nav-text">Home</span>
            </a>
        </li>
        <li>
            <a href="/notes" class="nav-link text-white">
                <img src="/icons/testIcon.png" alt="Notes Icon" class="icon">
                <span class="nav-text">Notes</span>
            </a>
        </li>
        <li>
            <a href="/calendar" class="nav-link text-white">
                <img src="/icons/testIcon.png" alt="Calendar Icon" class="icon">
                <span class="nav-text">Calendar</span>
            </a>
        </li>
    </ul>
</div>

<style>
    #sidebar {
        width: 100px;
        height: 100vh;
        background: linear-gradient(to bottom, purple, pink);
        transition: width 0.3s;
        z-index: 1000; 
    }
    #sidebar:hover {
        width: 220px;
    }
    .title-text {
        opacity: 0;
        transition: opacity 0.3s;
    }
    #sidebar:hover .title-text {
        display: inline;
        opacity: 1;
    }
    .nav-link {
        white-space: nowrap;
    }
    .nav-text {
        display: inline;
        opacity: 0;
        transition: opacity 0.3s;
    }
    #sidebar:hover .nav-text {
        display: inline;
        opacity: 1;
    }
    .title-icon {
        margin-left: 20px;
        margin-right: 10px;
        width: 24px;
        height: 24px;
    }
    .icon {
        margin-left: 5px;
        margin-right: 5px;
        width: 24px;
        height: 24px;
    }
</style>
